// -----------------------------------------------------------
// Abstract
// -----------------------------------------------------------
// Variabler der gor det muligt at lave smaa shortcuts saa som $font-fam: 'Open-Sans';
// -----------------------------------------------------------

// Flat color palette

$flat-turquoise: #1abc9c;
$flat-greensea: #16a085;
$flat-emerald: #2ecc71;
$flat-nephritis: #27ae60;
$flat-peterriver: #3498db;
$flat-belizehole: #2980b9;
$flat-amethyst: #9b59b6;
$flat-wisteria: #8e44ad;
$flat-wetasphalt: #34495e;
$flat-midnightblue: #2c3e50;
$flat-friendlyblack: #303541;
$flat-sunflower: #f1c40f;
$flat-orange: #f39c12;
$flat-carrot: #e67e22;
$flat-pumpkin: #d35400;
$flat-alizarin: #e74c3c;
$flat-pomegranate: #c0392b;
$flat-clouds: #ecf0f1;
$flat-silver: #bdc3c7;
$flat-concrete: #95a5a6;
$flat-asbetos: #7f8c8d;
