// -----------------------------------------------------------
// Components - Color
// -----------------------------------------------------------

.red {
  background-color: $flat-alizarin;
  color: white;
}

.blue {
  background-color: $flat-peterriver;
  color: white;
}

.green {
  background-color: $flat-emerald;
  color: white;
}

.yellow {
  background-color: $flat-sunflower;
  color: white;
}
